<ul>
    <li><a (click)="back()">&laquo; Back</a></li>
</ul>
<div class="row">
  <div class="column">
    <div class="card">
      <h1>Title:</h1>
      <input name="title" placeholder="Please type here your title" [(ngModel)]="values.title" autocomplete="off" />
      <h1>Details:</h1>
      <textarea name="details" id="subject" name="subject" placeholder="Write the details below.." 
        [(ngModel)]="values.details" autocomplete="off"></textarea><br><br>
      <button (click)="onSubmit()">Submit</button>
    </div>
  </div>
</div>