<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<h1>Posts</h1><br>
<div>
    <div>
        <ul>
            <li class="logout"><a (click)="logout()">&laquo; Log-out</a></li>
            <li class="next"><a routerLink="/showusers">List of Users &raquo;</a></li>
        </ul><br><br>
        <table>
            <tr>
                <th>Username</th>
                <th>Title</th>
                <th>Details</th>
                <th>Actions</th>
            </tr>
            <tr *ngFor="let val of array; let i = index">
                <td>{{val.username}}</td>
                <td>{{val.title}}</td>
                <td>{{val.details}}</td>
                <td><button (click)="deletePost(val.title, i)">Delete</button></td>
            </tr>
        </table>
    </div>
</div>